#container{
    
    background-color:#ebf0ed;
   
    

}



#message {
    width: 1000px;
    border: solid;
    border-width: 1px;
    border-radius: 15px;
    margin-left: 10px;
    
    
}
    
#username {
    width:500px;
    border: solid;
    border-width: 1px;
    border-radius: 20px;
    margin-left: 10px;
}

.username {
    font-family: 'Roboto Condensed', sans-serif;
    color: blue;
    border: hidden;
    padding: 5px;
    margin: 10px;
}
    

.message-text{
    font-family: 'Patrick Hand', cursive;
    border: hidden;
    border-width: 1px;
    border-radius: 10px;
    background-color: white;
    padding: 6px;
    margin: 10px;
    
}

.message {
    text-align: right;
}
    
#intro{
    padding: 18px;
    background-color: whitesmoke;
    margin-right: 780px;
    margin-left: 20px;
    

}



#messages{
    margin-left: 20px;
    margin-bottom: 50px;
    background-color: #d6eef8;
    margin-right: 500px;
    overflow-y: scroll;
    height: 500px;
    border: ridge;
    border-color: blue;
    
    
}