<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"> </script>
    <title> MySpace Chat App </title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div id="container">
        <div class="row">
            <div class="col-md-12">
                <a href="https://news.codecademy.com/myspace-coding-legacy/" target="_blank"><img id="logo" src="http://www.userlogos.org/files/logos/jumpordie/myspace_02.png" alt="MySpace logo"></a>

                <p id="text"></p> Hello. This is my chat app. You can chat with a friend here, or even by yourself. </p>
            </div>

        </div>
        <br>
        <br>

        <div id="messages">

        </div>



        <div class="row">
            <div class="col-md-12">
                <input id="username" name="username" type="text" placeholder="Enter your username">
                <input id="message" name="message" type="text" placeholder="Enter your text">
                <input id="submit" type="submit">
            </div>
        </div>
    </div>
    <br>
    
    <script src=chat.js> </script>
</body>

</html>