<!DOCTYPE html>
<html lang="en">

<head>
    <title> MySpace Chat App </title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div id="container">
        <div class="row">
            <div class="col-md-12">
                <img id="logo" src="http://www.userlogos.org/files/logos/jumpordie/myspace_02.png" alt="MySpace logo">

                <p id="text"></p> Hello. This is my chat app. You can chat with a friend here, or even by yourself. </p>
            </div>

        </div>
        <br>
        <br>
        <div> Mr Jones: Okay guys today we're going to learn about Java</div>
        <div> Ben: What are we going to learn about today? </div>
        <div> Mr Jones: How to use print to display stuff to your screen! For the 2384293847293th time! </div>
        <div> Ben: Are you going to teach us? </div>
        <div> Mr Jones: Nah, you guys can watch a 1hr video on how to print stuff, enjoy! </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-12">
                <input id="username" type="text" placeholder="Enter your username" autofocus>
                <input id="chat" type="text" placeholder="Enter your text">
                <input type="submit">
            </div>
        </div>
    </div>  
</body>

</html>